html {
  font-family: monospace;
  box-sizing: border-box;
  width: 100%;
}

body {
  max-width: 100%;
  margin: 0;
}

header {
  display: flex;
  background-color: #f1f8fe;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

main {
  width: 30ch;
  margin: auto;
  /*display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 2rem;
  padding: 20% auto;*/
}

/*@media (min-width: 400px) {
  main {
    padding-left: 10rem;
    align-items: left;
  }
}*/
